@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;500&display=swap');

.header {
    height: 88px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.header__elements {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin-left: 35px;
}

.header__text {
    font-family: 'Mukta', sans-serif;
    font-size: 35px;
    margin-left: 15px
}