@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;500&display=swap');

.sidebar {
    display: flex;
    flex-direction: column;
    margin-top: 88px;
    padding-top: 30px;
    height: 819px;
    width: 425px;
    position: absolute;
    top: 0;
    background-color: #232424;
    overflow-y: scroll;
    z-index: 1;
}


.sidebar__input-area {
    display: flex;
    justify-content: center;
    margin-right: 25%;
    width: auto;
}

.sidebar__input-button {
    background-color: rgba(155, 155, 155, 0.5);
    padding: 5% 5% 5% 5%;
    border-radius: 15px;
    margin-left: 50%;
    margin-top: 10%;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
}

.sidebar__input-button:hover {
    color: #36eeeb;
    font-size: 17px;
}


.sidebar__icon {
    position: absolute;
    margin-left: 6px;
    margin-top: 4px;
    padding: 1.4% 1.4% 1.4% 1.4%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 25px;
}

.sidebar__input {
    padding: 4.5% 30% 4.5% 30%;
    width: auto;
    border-radius: 25px;
    border-bottom: 1px solid rgba(152, 240, 239, 0.3);
    box-shadow: 0 2px 8px rgba(152, 240, 239, 0.3);
    text-align: center;
}

.sidebar__error {
    margin-left: 30%;
    color: red;
    font-weight: bold;
}

.sidebar__loading {
    color: #FFF;
    margin-left: 43%;
    margin-top: 5%;
    font-weight: bold;
}

.sidebar__user {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #232424;
}

.sidebar__img {
    margin-top: 5%;
    margin-left: 31%;
    border-radius: 50%;
    width: 30%;
    height: 30%;
}

.sidebar__item-heading {
    margin-left: 3.3%;
    color: #FFF;
    font-family: 'Mukta', sans-serif;
    font-size: 22px;
    border-bottom: 1px solid rgba(152, 240, 239, 1);
    background-color: #232424;
}

.sidebar__item {
    margin-top: -3%;
    padding: 6px 8px 6px 16px;
    font-size: 20px;
    color: #FFF;
    display: block;
    font-family: 'Mukta', sans-serif;
    background-color: #232424;
}

.sidebar__link {
    text-decoration: none;
    margin-top: -3%;
    padding: 6px 8px 15px 16px;
    font-size: 20px;
    color: #FFF;
    display: flex;
    flex-direction: row;
    font-family: 'Mukta', sans-serif;
    transition: all 0.3s;
    background-color: #232424;
}

.sidebar__link-icon {
    margin-right: 5px;
    margin-top: 4px;
    font-size: 16px;
}

.sidebar__link:hover {
    color: #36eeeb;
}


.sidebar__message {
    color: #FFF;
    font-family: 'Mukta', sans-serif;
    margin-left: 27%;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
    border: none;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border: none;
}

::-webkit-scrollbar-thumb {
    background: rgb(22, 128, 146);
    border: none;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(63, 62, 62);
    border: none
}